<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <small>Published on: {{post.date}}</small>
        <small>by BL#00001</small>
        <hr>
        {{post.content}}
        <hr>
        <small>{{post.category.name}}</small>
    </div>
</div>