<div class="col-4 mx-auto">
<h2 class="text-center">Come In!</h2>
<br>
    <div class="card card-body mb-2">
        <form action="/user/login" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control" required>
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required>
            <button class="btn btn-success mt-4" type="submit">Login</button>
        </form>

    </div>
</div>