{{#each errors}}
    <div class="alert alert-danger">{{errors}}</div>
{{else}}
{{/each}}
<h3>Fill your info!</h3>
<div class="card">
    <div class="card-body">
        <form action="" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Your full name" class="form-control" required>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="A valid mail" class="form-control" required>
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required>
            <label for="passwordconfirmation">Repeat your password:</label>
            <input type="password" name="passwordconfirmation" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Create account</button>
        </form>
    </div>
</div>